.main-content {
  float: left;
  width: calc(100% - 250px); }
  @media (max-width: 991.98px) {
    .main-content {
      width: 100%;
      position: relative;
      float: none; } }
  .main-content .container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }
    @media (max-width: 991.98px) {
      .main-content .container-fluid {
        padding-left: 15px;
        padding-right: 15px; } }
  .main-content .photos .photo-item {
    position: relative; }
    .main-content .photos .photo-item:after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: #000001;
      z-index: 1;
      transition: .3s all ease;
      opacity: 0;
      visibility: hidden; }
    .main-content .photos .photo-item .photo-text-more {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      margin-top: 30px;
      transition: .3s all ease;
      opacity: 0;
      visibility: hidden;
      text-align: center; }
      .main-content .photos .photo-item .photo-text-more .icon {
        color: #ffffff;
        font-size: 20px; }
      .main-content .photos .photo-item .photo-text-more .heading {
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 0; }
      .main-content .photos .photo-item .photo-text-more .meta {
        color: #000033;
        text-transform: uppercase;
        font-size: 12px; }
    .main-content .photos .photo-item img {
      width: 100%;
      object-fit: cover;
      height: 300px; }
    .main-content .photos .photo-item:hover:after {
      opacity: 1;
      visibility: visible; }
    .main-content .photos .photo-item:hover .photo-text-more {
      margin-top: 0;
      opacity: 1;
      visibility: visible; }

.blog-entry .img-wrap {
  flex: 0 0 250px; }
  .blog-entry .img-wrap img {
    border: 4px solid #ffffff; }

.blog-entry h2 {
  font-size: 24px; }
  .blog-entry h2 a {
    color: #ffffff; }

.blog-entry .meta {
  color: #737373; }

.custom-pagination {
  margin-top: 50px;
  margin-bottom: 50px; }
  .custom-pagination span, .custom-pagination a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center; }
  .custom-pagination a {
    border-radius: 50%; }
    .custom-pagination a:hover {
      background: #ffff38;
      color: #ffffff; }
