.main-content {
	float: left;
	width: calc(100% - 250px);
  @media (max-width: 991.98px) {
    width: 100%;
		position: relative;
		float: none;
  }
	.container-fluid {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
    @media (max-width: 991.98px) {
      padding-left: 15px;
      padding-right: 15px;
    }
	}
	.photos {
		.photo-item {
			position: relative;
			&:after {
				position: absolute;
				content: "";
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				background: rgb(0,0,.6);
				z-index: 1;
				transition: .3s all ease;
				opacity: 0;
				visibility: hidden;
			}
			.photo-text-more {
				position: absolute;
				z-index: 3;
				top: 50%;
				left: 50%;
				width: 100%;
				transform: translate(-50%, -50%);
				margin-top: 30px;
				transition: .3s all ease;
				opacity: 0;
				visibility: hidden;
				text-align: center;
				.icon {
					color: #ffffff;
					font-size: 20px;
				}
				.heading {
					font-size: 16px;
					color: #ffffff;
					margin-bottom: 0;
				}
				.meta {
					color: rgb(0,0%,20%);
					text-transform: uppercase;
					font-size: 12px;
				}
			}
			img {
				width: 100%;
				object-fit: cover;
				height: 300px;
				// margin-bottom: $grid-gutter-width;
				// @include media-breakpoint-down(xs) {
				// 	height: 200px;
				// }
			}
			&:hover {
				&:after {
					opacity: 1;
					visibility: visible;
				}
				.photo-text-more {
					margin-top: 0;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.blog-entry {
	.img-wrap {
		flex: 0 0 250px;
		img {
			border: 4px solid #ffffff;
		}
	}

	h2 {
		font-size: 24px;
		a {
			color: #ffffff;
		}
	}
	.meta {
		color: lighten(#000000, 45%);
	}
}

.custom-pagination {
	margin-top: 50px;
	margin-bottom: 50px;
	span, a {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
	a {
		border-radius: 50%;
		&:hover {
			background: #ffff38;
			color: #ffffff;
		}
	}
}
